[submodule "external/eigen"]
	path = external/eigen
	url = https://gitlab.com/libeigen/eigen.git
[submodule "external/benchmark"]
	path = external/benchmark
	url = https://github.com/google/benchmark.git
